<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false">
  <div class="form-group mb-2">
  <input id="ask" type="text" name="question">
  </div>
  <div>
  <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
